<nav class="navbar navbar-expand-sm navbar-dark bg-primary ">
  <div class="collapse navbar-collapse" id="collapsibleNavId ">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <li class="nav-item">
        <a class="nav-link navbar-dark bg-primary" href="/"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-dark bg-primary" href="/admin/categories"> Categorias </a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-dark bg-primary" href="/admin/articles"> Artigos </a>
      </li>
   
    </ul>
  </div>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-auto">
    <li class="nav-item">
      <a class="nav-link navbar-dark bg-primary" href="/login"> Logar </a>
    </li>
  </ul>
</nav>
